<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include header.html %}
  <body>
    <div class="wrapper">
      <header>
        {% assign current_collection = site.collections | where: "label", page.collection | first %}
        <div class="center">
          {% include logo-title.html %}
          <h3 class="no-anchor"><a href="{{ page.collection | relative_url }}">for {{ current_collection.version }}</a></h3>
        </div>
        <div id="navcontainer">
          {% include navigation.html max_depth=3 selected_docs=current_collection.docs %}
        </div>
        <br />
      </header>
      <section>

        {{ content }}

      </section>
    </div>
  </body>
  <script type="text/javascript" src="{{ "/assets/js/addAnchorLinkToHeader.js" | relative_url }}"></script>
  <script>


  </script>
</html>
